APP_IMAGE=mohdshuaib42/institute-management-system:latest
MYSQL_DATABASE=students
MYSQL_USER=ims_user
MYSQL_PASSWORD=ims_password
MYSQL_ROOT_PASSWORD=rootpassword
FLASK_SECRET_KEY=change-me-in-production
NGINX_PORT=80
